version: "3.8"

services:
  spark-master:
    image: apache/spark:latest
    container_name: spark-master
    platform: linux/amd64
    volumes:
      - /resources/:/opt/spark/resources
    ports:
      - "8080:8080"
      - "7077:7077"
    environment:
      - SPARK_MODE=master
      - SPARK_MASTER_HOST=spark-master
      - SPARK_MASTER_PORT=7077
      - HADOOP_CONF_DIR=/opt/spark/resources
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    networks:
      - hadoop

  spark-worker-1:
    image: apache/spark:latest
    container_name: spark-worker-1
    platform: linux/amd64
    depends_on:
      - spark-master
    ports:
      - "8081:8081"
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
      - HADOOP_CONF_DIR=/opt/spark/resources
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    networks:
      - hadoop

networks:
  hadoop:
    external: true
